global
  tune.ssl.default-dh-param 2048

defaults
  log     global
  mode    http
  maxconn 2048
  stats enable
  stats uri /haproxy?stats
  option http-server-close
  option forwardfor

frontend www-http
  bind 0.0.0.0:80
  reqadd X-Forwarded-Proto:\ http
  default_backend www-backend

frontend www-https
  bind 0.0.0.0:443 ssl crt /etc/ssl/private/server.pem
  reqadd X-Forwarded-Proto:\ https
  default_backend www-backend

backend www-backend
  redirect scheme https if !{ ssl_fc }
  balance roundrobin
  {{range getvs "/app/servers/*" }}
  server {{.}} check
  {{end}}
